.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    display: block;
    padding: 0 1rem;
}

.box-1, .box-2 {
    width: 200px;
    height: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

main {}

.container {
    margin: 0 5%;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
}

.box-1 {
    background-color: aqua;
    /* position: absolute; */
    position: relative;
    /* left: 550px; */
    /* top: 20px; */
}

.box-1 span,
.box-1 span::before,
.box-1 span::after {
    /* display: block; */
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #000;
}

.box-1 span {
    top: 50%;
}

.box-1 span::before {
    content: '';
    top: 50px;
    position: absolute;
    /* background-color: #000; */
}

.box-1 span::after {
    content: '';
    bottom: 50px;
    position: absolute;
    /* background-color: #000; */
}


.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
}

/* mobile menu */
@media (max-width: 991px) {
    header nav {
        position: relative;
        width: 100%;
    }

    header nav ul {
        display: block;
        position: absolute;
        /* width: 100%; */
        background-color: aquamarine;
        text-align: center;
    }

    .mobile-nav-btn {
        position: relative;
    }

    header nav ul li {
        /* width: 100%; */
    }

    /* label/button */
    .mobile-nav-btn {}

    .mobile-nav-label {}
}

@media (min-width: 992px) {
    .mobile-nav-btn, .mobile-nav-label {
        display: none;
    }
}

/* mobile menu */